ASPNETCORE_ENVIRONMENT=Development
Database__ApplyMigrationsOnStartup=true
ConnectionStrings__DefaultConnection=Data Source=./data/controle-gastos.db;Foreign Keys=True
VITE_API_URL=http://localhost:5000/api
